<!-- {{ model | json }} -->

<h1>Contact form:</h1>
<!-- <form [FormGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <label for="fName">Full Name:</label>
        <input formControlNamw='fName' id="fName" type="text" required [(ngModel)]="model.fName" name="fName">
        <label for="lName">Email:</label>
        <input formControlNamw="lName" id="lName" type="text" required [(ngModel)]="model.lName" name="lName">
        <label for="email">Type your message here:</label>
        <input formControlNamw="email" id="email" type="text" required [(ngModel)]="model.email" name="email">
        <label for="pass">Type your message here:</label>
        <input formControlNamw="pass" id="pass" type="text" required [(ngModel)]="model.pass" name="pass">
        <label for="cPass">Type your message here:</label>
        <input formControlNamw="cPass" id="cPass" type="text" required [(ngModel)]="model.cPass" name="cPass">
        <label for="country">Type your message here:</label>
        <input formControlNamw="country" id="country" type="text" required [(ngModel)]="model.country" name="country">
    </div>
</form> -->