.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  margin-top: 0%;
  padding: 1%;
  border: 1px rgb(196, 196, 196) solid;
  background-color: rgb(236, 236, 236);
  justify-content: center;
  border-radius: 5px;
}
